/* Style de la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contenu de la modale */
.modal-content {
    background: linear-gradient(#2B2118, #6F1A07, #2B2118 );
    color : #ECF0F1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.modal-content .btn-play{
    display: flex;
    justify-content: center;
}

.modal-content .btn-play .btn{
    background-color: #ECF0F1 ;
    color: #2B2118;
    width: 20%;
}

@media screen and (max-width: 800px){
   .modal-content {
       width: 350px;
   }
    .modal-content .btn-play .btn{
        width: 40%;
    }
}

/*#5c5133*/